<div class="container">
  <div class="input-wrapper">
    <input type="text" [(ngModel)]="currentName" placeholder="Talaba ism familiyasini kiriting ...">
    <input type="number" [(ngModel)]="currentPoint" placeholder="Ball qo'ying ...">
    <button (click)="addStudent()">+</button>
  </div>

  <table class="student-table">
    <thead>
    <tr>
      <th>T/N</th>
      <th>Ism familiya</th>
      <th>Ball</th>
      <th>Harakat</th>
    </tr>
    </thead>

    <tbody>
      @if (students.length > 0) {
        @for (student of students; track student.id; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.point }}</td>
            <td>
              <button class="delete-btn" (click)="removeStudent(student)">O'chirish</button>
            </td>
          </tr>
        }
      } @else {
        <tr>
          <td colspan="4">Talabalar ro'yhati bo'sh</td>
        </tr>
      }
    </tbody>
  </table>
  <button class="cleat-btn" (click)="clearStudents()">Tozalash</button>

  @if (message() != null) {
    <div class="messageBox">
      <p>{{ message() }}</p>
    </div>
  }
</div>
