.container{
  display: flex;
  align-items: center;
}

.btn {
  height: 60px;
  max-height: 60px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

input[type="number"] {
  height: 60px;
  max-height: 60px;
  border-radius: 12px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  margin: 4px 2px;

}

.error {
  color: red;
}
