<div class="container">
  <div class="input-wrapper">
    <input
      type="text"
      pInputText
      placeholder="Search users..."
      debounceInput
      (search)="search($event)"
      [debounceTime]="1000"
    />
  </div>

  <ul class="border border-gray-500 p-2 mt-5 rounded-xl">
    @for (user of users(); track user.id; let i = $index) {
      <li class="hover:bg-gray-300 rounded hover:text-white p-2 cursor-pointer">{{ user.first_name }} {{ user.last_name }}</li>
    }
  </ul>
</div>
